@model IEnumerable<Search.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Search by: @Html.DropDownList("caseProduct", "Product")
         @Html.DropDownList("caseType", "Type")
        @Html.DropDownList("caseCategory", "Category")
        <br />
        Search by keyword: @Html.TextBox("searchString") 
        <input type="submit" value="Search" />
        Search by Case Number: @Html.TextBox("p")
        <input type="submit" value="Search" />
    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResMessage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CaseNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.CaseNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CaseNumber })
        </td>
    </tr>
}

</table>
